sudo: false
language: scala
stages:
  - test
  - name: deploy
    if: (type NOT IN (pull_request)) AND (tag IS present) AND (branch = master)

script: sbt +test

jobs:
  include:
    - stage: test
      jdk: oraclejdk8
    - stage: test
      jdk: openjdk8
      script: sbt clean coverage +test && sbt coverageReport coveralls
    - stage: deploy
      jdk: openjdk8
      script: |
        openssl aes-256-cbc -K $encrypted_edd93504cc75_key -iv $encrypted_edd93504cc75_iv -in travis/secrets.tar.enc -out travis/local.secrets.tar -d &&
          tar xv -C travis -f travis/local.secrets.tar &&
          sbt +releaseEarly
env:
  global:
  - secure: oaQO0OktBq1UUw490+zw/bioSFmfkHz9X7sLpoOCT9NzAPwHOXDNIaoYubu+HXbgvSfsId+x4QR2wT1cH+njBMwvImQWrkfWODTAxfSVEuqThWlVKTmfYCoNcbMpFOIQYpSWqx7pb8VeNMr1p2Ql6ov3lNvUpRNvIwxbfUBCYy3mL/H4/1XFDy7emSmgr/I56Pmg6woMi7T7zoEFMozKPQG2rkB3/yU53CtRWMTDU4p3R33bFP5+Q314jkLN/x8E6p83DXSlHw5CNCybrndvBN2Ugylpn5XbINyW78yEc1uDpMDjgQ6/nFldFLBsZ9jVJNOLFHwxEcPCHKS22SVZ50mpek5zvUDHGKGodl2Ct1J2dO/kV3Mk15y/ndiapUJvZ/JLUwbgNmF1zzTsrvWdGiHnPOz4MWfkUAe5L8pAVNs0wul0AihbkcthD2hQu3EnDxjx1Mf0yjov58orv7q0Euf7Wnmzmu9orx+KBbCX7UFs6SsFZiM8jbyEy50K+Evmub1Qd+UYc/xspboM6vidKd61+O2YTnQ26MsFV0cn6GvkphqsbjfSep/cvm9gOtYiwo959v7MX8ApMXU28hK01rf0BlnBBVuXd8cNuTW7B6SAQM1HRxjkfze6VukGYQFe8RLuuhqfbAXCpui1lcKaQf2G9jTrse0+ROszqqLEaTU=
  - secure: BNveA1KQHK2DWg4Q4Oogvo3BDZP17zHjMiEf1JzIt06dB3QZ4ZYONTOPgXvL3XrFGJZe40pnAmrQezlrpRK2X8JPNbYpYh7aHB6AGQmJzHU1BNVI/0GuN+y0jUJaM8oH83z2S4sm8BZA015YIWmV8P0OELcTNxglgOwj9yo0SB5Xrd7qeAfmho9Lg1pN42LhuZK8LzxsTtrInR9k2dYKIsIwEkrNSqycqOVs1mLGX++wvj3qGf4a2GibswhQ3k1rG5jfeT9HjHDzFdWlOvn4jH8TasA3yBoNCgUEA8lIR9fSKGkbS72o4X5OsOLP6qykobcLAIK7SAFOXRY1xhJESFgLBIQQa09XmI0T3YLglXIdz78m/4stQ4firF249Ph3Uj2656uiiwGgCNku6kRDNj9HN5y/RtsZaoNC304nrXYpIhMPNFuekfcmB7fWhczsU0aXzfRBvjrXWq+jpFoKh2En6WFDEeMaDTmbGdN4Qyb1zL1Yw2lXdg2Blxm24H+E5J4FHnCSJU81xmAzR4LgBEqQdGJW0n31mMgXG9NNJEPjo1hYn/OvXDIQOhg3IO0OENX3PS8UxtlhX1/fMyLVN/JmHdXUR1r0b/v/NtKrYlZgveJ5EB162NYGy8QKT2K2iDjk1nkBJ8GFNocaXWmAjsmAb5A2lBYMZYULMrLTTjM=
  - secure: DKrbKFUrrnFC7JTgDWf0w8KIqT/3dHJphVKv4UkvvLJ7vuCWYQ+82QRzey/LFGCGq4nS545qWyZBZDXHQbBukJZuC+rqilcXRoE05QP42PuWhDJ00f68U5ciE5D5o9S7qGwo2zKFxt7g8pGuebQBb0BYrV9ilAbCF7wVGdWfkjq4h65nPcMJNaXoq7sDcIDXdnKbYBE5KFjglv5coRkyLm+LSyPbPClt+fnCJq6lYFXTqoecWOWMiCQdnCmanWB4Av/AYfuGOt6nIR8WTpHOT/KMkvKv/lNJ2p+mCRe22Th9eKQZvep/XPtwaueYO/c0zpc/dz7XEapXhzdoEGDhLRZfiuy1fXyHuMb4vhLYJBZ3d1t3hN5IkK/1RFWF6PCdoRYnxrMYbMT2uJTA3sVVA8YBQw99OkV9Y/N/SSAkSkJnCuaCeiLPb/OMZlxLY6hs93HbLDBDp935wRL8UZnsLA/bq6/1i7USF4HwI2aZQbhzbbqSXnVbtPvdTQEx4dORWenJraIBl+6LGKA93vimOxi8GkqAbAlgIeUvPH24t4yvHbX+AHCLpHTL7sS6Fl1gc3VLJrzPs21tliNOA3DYjXvNkYZRsdppGXR3nlCuUFlN9hd6pf0WJtYQUrjVPPJ7Nthx2J1y/o5HWAxHpNB9829djuG+nFvXPWJHfYZeNKI=
